// responsive
$min-width: 1072px;
$max-width: 1071px;

.wrapper {
   position: relative;
   padding-top: 16px;
   padding-left: 8px;

   &::before {
      content: '';
      position: absolute;
      height: 1px;
      left: 8px;
      right: 8px;
      top: 0;
      background-color: #1618231f;
      transform: scaleY(0.5);
   }

   @media (max-width: $max-width) {
      display: none;
   }
}

.link-block {
   margin-bottom: 8px;
}

.link-item {
   display: inline-block;
   margin-right: 6px;
   margin-top: 5px;
   font-size: 12px;
   font-weight: 600;
   line-height: 16px;
   letter-spacing: 0.161px;
   color: #16182380;

   &:hover {
      text-decoration: underline;
      cursor: pointer;
   }
}
