// Wrapper
.wrapper {
   --width: 224px;

   position: relative;
   padding-top: 16px;
   padding-bottom: 16px;

   &::before {
      position: absolute;
      left: 8px;
      right: 8px;
      top: 0;
      width: 208px;
      height: 1px;
      content: '';
      background-color: #1618231f;
      transform: scaleY(0.5);
   }

   &::after {
      position: absolute;
      left: 8px;
      right: 8px;
      bottom: 0;
      width: 208px;
      height: 1px;
      content: '';
      background-color: #1618231f;
      transform: scaleY(0.5);
   }
}

.heading {
   padding: 0 0 8px 8px;
   font-weight: 600;
   font-size: 1.4rem;
   line-height: 1.8rem;
   color: #161823bf;
}

.body {
   height: 432px;
   overflow: hidden;
}

// Account item
.account-item {
   width: var(--width);
   display: flex;
   align-items: center;
   height: 48px;
   padding: 8px;
   border-radius: 4px;
   transition: background-color ease-in-out 200ms;

   &:hover {
      background-color: #16182308;
   }
}

.avatar {
   width: 32px;
   height: 32px;
   margin-right: 12px;
   border-radius: 50%;
   object-fit: cover;
}

.info {
   flex: 1;
}

.user-account {
   display: flex;
   align-items: center;

   span {
      max-width: 145px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 2.1rem;
      color: var(--text-color);
   }
}

.check-icon {
   font-size: 1.4rem;
   color: rgb(32, 213, 236);
   margin-left: 8px;
}

.user-name {
   font-size: 1.2rem;
   font-weight: 400;
   line-height: 1.5rem;
   color: #161823bf;
}

.more-btn {
   padding: 8px 8px 0 8px;
   font-size: 1.4rem;
   font-weight: 600;
   line-height: 1.8rem;
   color: var(--primary);
   cursor: pointer;
}

// account preview
.account-preview {
   width: calc(var(--width) - 8px);
   padding: 16px;
}

.preview-heading {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.preview-avatar {
   width: 46px;
   height: 46px;
   border-radius: 50%;
   object-fit: cover;
}

.preview-user-acount {
   margin-top: 12px;
   display: flex;
   align-items: center;

   span {
      max-width: 145px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 2.1rem;
      color: var(--text-color);
   }
}

.preview-user-name {
   font-size: 1.2rem;
   font-weight: 400;
   line-height: 1.5rem;
   color: var(--text-color);
}

.fame {
   margin-top: 12px;
   display: flex;
   align-items: center;
}

.fame-item {
   display: flex;
   align-items: center;

   span {
      margin-left: 6px;
      color: #161823bf;
   }
}

.fame-item + .fame-item {
   margin-left: 24px;
}
