@import 'normalize.css';

:root {
   --primary: #fe2c55; // màu mặc định của tiktok
   --text-color: #000;
   --white-text: #fff;

   // Default Layout
   --default-layout-header-height: 60px;
   --default-layout-sidebar-width: 232px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scrollbar-width: thin;
}

html {
   font-size: 62.5%;
}

body {
   font-family: 'TikTokFont', sans-serif;
   font-size: 1.6rem;
   line-height: 1.5;
   text-rendering: optimizeSpeed; //tối ưu tốc độ render font
}

button {
   outline: none;
   border: none;
   background-color: transparent;
}

a[href] {
   color: var(--text-color);
   text-decoration: none;
}

//fonts
@font-face {
   font-family: TikTokFont;
   src: url('/assets/fonts/TikTokFont-Regular.woff2');
   font-weight: 400;
}

@font-face {
   font-family: TikTokFont;
   src: url('/assets/fonts/TikTokFont-Semibold.woff2');
   font-weight: 600;
}

@font-face {
   font-family: TikTokFont;
   src: url('/assets/fonts/TikTokFont-Bold.woff2');
   font-weight: 700;
}

@font-face {
   font-family: TikTokDisplayFont;
   src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
   font-weight: 700;
}

// custom tippy
body {
   .tippy-box {
      border-radius: 8px;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.6rem;
      background-color: rgba(84, 84, 84, 0.92);
   }

   .tippy-content {
      padding: 6px 9px;
   }

   .tippy-arrow {
      color: rgba(84, 84, 84, 0.92);
   }

   .tippy-box[data-placement^='bottom'] > .tippy-arrow {
      top: -1px;
   }
}
