@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
   --primary: #fe2c55; // màu mặc định của tiktok
   --text-color: #000;
   --white-text: #fff;

   // Default Layout
   --default-layout-header-height: 60px;
   --default-layout-sidebar-width: 232px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.6rem;
   line-height: 1.5;
   text-rendering: optimizeSpeed; //tối ưu tốc độ render font
}

button {
   outline: none;
   border: none;
   background-color: transparent;
}

a[href] {
   color: var(--text-color);
   text-decoration: none;
}
