// responsive
$min-width: 1072px;
$max-width: 1071px;

.wrapper {
   margin-bottom: 8px;
}

.menu-item {
   display: flex;
   align-items: center;
   padding: 8px;
   font-size: 1.8rem;
   font-weight: 700;
   border-radius: 4px;
   transition: background-color ease-in-out 200ms;
   --text-color: #000;

   &.active {
      color: var(--primary);

      .icon {
         display: none;
      }

      .active-icon {
         display: flex;
      }
   }

   &:hover {
      background-color: #16182308;
   }

   @media (max-width: $max-width) {
      margin-left: 4px;
   }
}

.title {
   @media (min-width: $min-width) {
      margin-left: 8px;
   }

   @media (max-width: $max-width) {
      display: none;
   }
}

.icon {
   display: flex;
}

.active-icon {
   display: none;
}
