// responsive
$min-width: 1072px;
$max-width: 1071px;

// Wrapper
.wrapper {
   --account-item-height: 48px;
   --width: 224px;

   position: relative;
   padding-top: 16px;
   padding-bottom: 16px;

   &::before {
      content: '';
      position: absolute;
      height: 1px;
      left: 8px;
      right: 8px;
      top: 0;
      background-color: #1618231f;
      transform: scaleY(0.5);
   }

   @media (max-width: $max-width) {
      padding-top: 8px;
   }
}

.heading {
   padding: 0 0 8px 8px;
   font-weight: 600;
   font-size: 1.4rem;
   line-height: 1.8rem;
   color: #161823bf;

   @media (max-width: $max-width) {
      display: none;
   }
}

.body {
   overflow: hidden;
}

.more-btn {
   padding: 8px 8px 0 8px;
   font-size: 1.4rem;
   font-weight: 600;
   line-height: 1.8rem;
   color: var(--primary);
   cursor: pointer;

   @media (max-width: $max-width) {
      display: none;
   }
}
