// Wrapper
.wrapper {
   --account-item-height: 48px;
   --width: 224px;

   position: relative;
   padding-top: 16px;
   padding-bottom: 16px;

   &::before {
      position: absolute;
      left: 8px;
      right: 8px;
      top: 0;
      width: 208px;
      height: 1px;
      content: '';
      background-color: #1618231f;
      transform: scaleY(0.5);
   }

   &::after {
      position: absolute;
      left: 8px;
      right: 8px;
      bottom: 0;
      width: 208px;
      height: 1px;
      content: '';
      background-color: #1618231f;
      transform: scaleY(0.5);
   }
}

.heading {
   padding: 0 0 8px 8px;
   font-weight: 600;
   font-size: 1.4rem;
   line-height: 1.8rem;
   color: #161823bf;
}

.body {
   // height: calc(var(--account-item-height) * 5);
   overflow: hidden;
}

.more-btn {
   padding: 8px 8px 0 8px;
   font-size: 1.4rem;
   font-weight: 600;
   line-height: 1.8rem;
   color: var(--primary);
   cursor: pointer;
}

.show-more {
   // height: calc(var(--account-item-height) * 10);
}
