.search-wrapper,
.search-result {
   width: 400px;
   max-width: 500px;
}

.search-wrapper {
   --search-btn-width: 52px;
   --search-border-radius: 92px;

   position: relative;
   display: flex;
   align-items: center;
   height: 46px;
   padding: 12px 13px;
   border-radius: var(--search-border-radius);
   background-color: #f1f1f2;

   &:hover {
      outline: 1px solid #ddd;
   }

   &:focus-within {
      outline: 1px solid #ddd;
   }

   &:hover .search-btn {
      background-color: rgba(22, 24, 35, 0.06);
      color: #4c4e57;
   }
}

.search-title {
   padding: 5px 12px;
   line-height: 18px;
   font-size: 1.4rem;
   font-weight: 600;
   color: rgba(22, 24, 35, 0.5);
}

.search-input {
   line-height: 21px;
   flex: 1;
   font-size: 16px;
   font-weight: 400;
   outline: none;
   border: none;
   background-color: transparent;
   caret-color: var(--primary);
   color: var(--text-color);
   &::placeholder {
      color: var(--text-color);
   }

   &:not(:placeholder-shown) ~ .search-btn {
      color: #4c4e57;
   }
}

.clear,
.loading {
   position: absolute;
   margin: 0 12px;
   top: 50%;
   transform: translateY(-50%);
   right: var(--search-btn-width);
   border: none;
   color: #a7a7ab;
   background-color: transparent;
   // display: none;
}

.loading {
   animation: rotation 0.5s infinite linear;
}

@keyframes rotation {
   from {
      transform: translateY(-50%) rotate(0deg);
   }
   to {
      transform: translateY(-50%) rotate(359deg);
   }
}

.border-between {
   width: 1px;
   height: 28px;
   background: #1618231f;
}

.search-btn {
   width: var(--search-btn-width);
   height: 46px;
   margin-right: -14px;
   // font-size: 20px;
   border: none;
   border-top-right-radius: var(--search-border-radius);
   border-bottom-right-radius: var(--search-border-radius);
   color: #a7a7ab;
   background-color: transparent;
   cursor: pointer;
}
