.wrapper {
   position: relative;
   min-width: 312px;
   max-width: 556px;
   height: 100%;
   margin-right: 20px;
}

// waypoint
.video-waypoint {
   position: absolute;
   top: 85%;
   width: 100%;
   height: 1px;
   // background-color: #000;
   z-index: 100;
}

//thumb
.thumb-wrapper {
   min-width: 312px;
   max-width: 556px;
   height: 100%;
   cursor: pointer;

   &:hover ~ .controls {
      opacity: 1;
   }
}

.thumb-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 8px;
}

//video
.video-wrapper {
   position: relative;
   width: 100%;
   height: 100%;
   border-radius: 8px;

   &:hover ~ .controls {
      opacity: 1;
   }
}

.video {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 8px;
   cursor: pointer;
   // display: none;
}

.controls {
   position: absolute;
   width: 100%;
   padding: 12px;
   bottom: 0;
   left: 0;
   color: var(--white-text);
   z-index: 2;
   opacity: 0;
   transition: opacity ease-in-out 200ms;

   &:hover {
      opacity: 1;
   }
}

.buttons {
   height: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 8px 12px;
}

.play-pause {
   display: flex;
   align-items: center;
}

.btn-inside-video {
   width: 20px;
   height: 20px;
   cursor: pointer;
}

// volume
.volume {
   position: relative;

   &:hover .volume-process-wrapper {
      opacity: 1;
   }
}

.volume-process-wrapper {
   --volume-process: 50px;

   position: absolute;
   top: -72px;
   left: 50%;
   transform: translateX(-50%);
   width: 22px;
   height: 64px;
   background-color: #16182357;
   border-radius: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
}

.volume-process {
   appearance: none;
   rotate: 270deg;
   width: var(--volume-process);
   height: 2px;
   background-color: #ffffff57;
   z-index: 1;
   cursor: pointer;

   &::-webkit-slider-thumb {
      appearance: none;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #fff;
   }
}

.current-volume-process {
   position: absolute;
   bottom: 6px;
   width: 2px;
   background-color: #fff;
   z-index: 0;
}

.volume-on-off {
   display: flex;
   align-items: center;
}

// time process
.timer {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.time-process-wrapper {
   position: relative;
   flex: 1;
   margin-right: 16px;

   &:hover .time-process {
      height: 4px;
      bottom: 0;
   }

   &:hover .current-time-process {
      height: 4px;
      bottom: 0;
   }

   &:hover .time-process::-webkit-slider-thumb {
      display: block;
   }
}

.time-process {
   appearance: none;
   position: absolute;
   left: 0;
   bottom: 1px;
   appearance: none;
   width: 100%;
   height: 2px;
   background-color: #ffffff57;
   z-index: 3;
   cursor: pointer;

   &::-webkit-slider-thumb {
      appearance: none;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #fff;
      z-index: 4;
      display: none;
   }
}

.current-time-process {
   position: absolute;
   left: 0;
   bottom: 1px;
   height: 2px;
   // width: 50%; //onChange
   background-color: #fff;
   user-select: none;
}

.time-count {
   margin-bottom: 1px;
   width: 64px;
   line-height: 1.6rem;
   font-size: 1rem;
}
