// responsive
$min-width: 1072px;
$max-width: 1071px;

.wrapper {
   --small-sibar-width: 72px;

   @media (min-width: $min-width) {
      width: var(--default-layout-sidebar-width);
   }

   @media (max-width: $max-width) {
      width: var(--small-sibar-width);
      border-right: 1px solid #1618231f;
      box-shadow: 0px 2px 8px #0000000f;
   }
}

.inner::-webkit-scrollbar {
   width: 0;
}

.inner {
   position: fixed;
   top: var(--default-layout-header-height);
   bottom: 0;
   overflow-y: auto;

   &:hover::-webkit-scrollbar {
      width: 6px;
   }

   @media (min-width: $min-width) {
      width: var(--default-layout-sidebar-width);
      padding: 20px 0 26px 8px;
   }

   @media (max-width: $max-width) {
      width: calc(var(--small-sibar-width) - 4px);
      padding: 12px 4px 26px 8px;
   }
}
